<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404</title>
</head>
<body style="background:#CCCCC0;">
    <img src="/images/404.png" v-align="center" alt="404" srcset="/images/404.png" style="max-width: 100%;max-height: 100%;bottom: 0; left: 0;margin: auto;overflow: auto;position: fixed;right: 0;top: 0;">
</body>
</html>