<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Real-Time Chat password updated</title>
</head>
<body>
   <h4>Hello <%= name %></h4>
   <p>You have successfully updated your Real-Time Chat password.</p>
   <p>If you have not made this change or notice any error, please contact us at development.vk@hotmail.com</p>
   <br>
   <br>
   <br>
   <p>Cheers,</p>
   <p>Team Real-Time Chat</p>
</body>
</html>