<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset NodeJS API Password</title>
</head>
<body>
   <h4>Hello <%= name %></h4>
   <p>There was recently a request to change the password for your account.</p>
   <p>If you requested this change, set a new password here:</p>
   <p><a href="<%= buildUrl %>"><%= buildUrl %></a></p>
   <p>If you did not make this request, you can ignore this email and your password will remain the same.</p>
   <br>
   <br>
   <br>
   <p>Cheers,</p>
   <p>Team NodeJS API</p>
</body>
</html>