<footer class="site-footer">
    <div class="container">
        <div class="row gap-y align-items-center">
            <div class="col-12 col-lg-3">
                <p class="text-center text-lg-left">
                    <a href="/"><%= __('app_name'); %></a>
                </p>
            </div>

            <div class="col-12 col-lg-6">
            </div>

            <div class="col-12 col-lg-3">
                <div class="social text-center text-lg-right">
                    <a class="social-facebook" href="https://www.facebook.com/developmentvk1"><i class="fa fa-facebook"></i></a>
                    <a class="social-twitter" href="https://twitter.com/developmentvk"><i class="fa fa-twitter"></i></a>
                    <a class="social-dribbble" href="https://www.linkedin.com/in/developmentvk"><i class="fa fa-linkedin"></i></a>
                    <a class="social-dribbble" href="https://github.com/developmentvk"><i class="fa fa-github"></i></a>                
                </div>
            </div>
        </div>
    </div>
</footer>