<nav class="topbar topbar-inverse topbar-expand-md topbar-sticky">
    <div class="container">

        <div class="topbar-left">
            <button class="topbar-toggler">&#9776;</button>
            <a class="topbar-brand" href="/">
                <h1><%= __("company"); %></h1>
            </a>
        </div>

        <div class="topbar-right">
            <ul class="topbar-nav nav">
                <li class="nav-item"><a class="nav-link active" href="/"><%= __('home'); %></a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/login"><%= __('admin_login'); %></a></li>
            </ul>
        </div>

    </div>
</nav>