<!--
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
| Customization request
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
!-->
<section class="section section-inverse py-40" style="background-color: #8ea6e6">
    <div class="container">
        <div class="row gap-y align-items-center">
            <div class="col-12 col-md-9 text-center text-md-left">
                <h4 class="fw-300 mb-0">Do you need a customization for your template?</h4>
            </div>

            <div class="col-12 col-md-3 text-center text-md-right">
                <a class="btn btn-lg btn-round btn-white" href="https://www.linkedin.com/in/developmentvk">Request customization</a>
            </div>
        </div>
    </div>
</section>

<!--
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
| Perfect for Your Business
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
!-->
<section class="section bg-gray py-120 hidden-md-down">
    <div class="container-wide">
        <div class="row">

            <div class="offset-1 col-10 col-lg-6 offset-lg-1 text-center text-lg-left">
                <h2>Perfect for Your Business</h2>
                <p class="lead">Energistically transform pandemic manufactured products whereas premier solutions. Compellingly streamline an expanded array of web-readiness rather.</p>

                <br>

                <div class="row gap-y">

                    <div class="col-12 col-md-6">
                        <i class="fa fa-tv text-primary fs-25 mb-3"></i>
                        <h6 class="text-uppercase mb-3">Responsive</h6>
                        <p class="fs-14">Professionally foster cross-platform solutions rather than highly.</p>
                    </div>

                    <div class="col-12 col-md-6">
                        <i class="fa fa-wrench text-primary fs-25 mb-3"></i>
                        <h6 class="text-uppercase mb-3">Customizable</h6>
                        <p class="fs-14">Professionally foster cross-platform solutions rather than highly.</p>
                    </div>

                    <div class="col-12 col-md-6">
                        <i class="fa fa-code text-primary fs-25 mb-3"></i>
                        <h6 class="text-uppercase mb-3">Clean</h6>
                        <p class="fs-14">Professionally foster cross-platform solutions rather than highly.</p>
                    </div>

                    <div class="col-12 col-md-6">
                        <i class="fa fa-file-text-o text-primary fs-25 mb-3"></i>
                        <h6 class="text-uppercase mb-3">Documented</h6>
                        <p class="fs-14">Professionally foster cross-platform solutions rather than highly.</p>
                    </div>

                </div>

            </div>

            <div class="col-lg-5 align-self-center">
                <img class="shadow-3" src="site/img/pricing-window.jpg" alt="..." data-aos="slide-left" data-aos-duration="1500">
            </div>

        </div>
    </div>
</section>

<!--
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
| Unlimited Layout Option
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
!-->
<section class="section py-150 hidden-md-down">
    <div class="container-wide">
        <div class="row gap-y align-items-center">

            <div class="col-lg-6 align-self-center">
                <img class="shadow-3" src="site/img/header-gradient.jpg" alt="..." data-aos="slide-right" data-aos-duration="1500">
            </div>

            <div class="col-12 col-lg-6 pl-50 pr-80">
                <h2>Unlimited Layout Option</h2>
                <p class="lead">Energistically transform pandemic manufactured products whereas premier solutions. Compellingly streamline an expanded array of web-readiness rather.</p>

                <br>

                <p>
                    <i class="ti-check text-success mr-8"></i>
                    <span class="fs-14">Proactively synergize unique models vis-a-vis superior</span>
                </p>

                <p>
                    <i class="ti-check text-success mr-8"></i>
                    <span class="fs-14">Conveniently actualize magnetic experiences before orthogonal</span>
                </p>

                <p>
                    <i class="ti-check text-success mr-8"></i>
                    <span class="fs-14">Compellingly streamline an expanded array of web</span>
                </p>

                <p>
                    <i class="ti-check text-success mr-8"></i>
                    <span class="fs-14">Rapidiously synergize standards compliant best practices.</span>
                </p>
            </div>
        </div>
    </div>
</section>