<!--
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
| Customization request
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
!-->
<section class="section section-inverse py-40" style="background-color: #8ea6e6">
    <div class="container">
        <div class="row gap-y align-items-center">
            <div class="col-12 col-md-9 text-center text-md-left">
                <h4 class="fw-300 mb-0">Do you need a customization for your template?</h4>
            </div>

            <div class="col-12 col-md-3 text-center text-md-right">
                <a class="btn btn-lg btn-round btn-white" href="https://www.linkedin.com/in/developmentvk">Request
                    customization</a>
            </div>
        </div>
    </div>
</section>

<!--
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    | Perfect for Your Business
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    !-->
<section class="section bg-gray py-120">
    <div class="container-wide">
        <div class="row">

            <div class="offset-1 col-10 col-lg-6 offset-lg-1 text-center text-lg-left">
                <h2>Perfect for Your Business</h2>
                <p class="lead">Energistically transform pandemic manufactured products whereas premier solutions. Compellingly streamline an expanded array of web-readiness rather.</p>

                <br>

                <div class="row gap-y">

                    <div class="col-12 col-md-6">
                        <i class="fa fa-tv text-primary fs-25 mb-3"></i>
                        <h6 class="text-uppercase mb-3">Responsive</h6>
                        <p class="fs-14">Professionally foster cross-platform solutions rather than highly.</p>
                    </div>

                    <div class="col-12 col-md-6">
                        <i class="fa fa-wrench text-primary fs-25 mb-3"></i>
                        <h6 class="text-uppercase mb-3">Customizable</h6>
                        <p class="fs-14">Professionally foster cross-platform solutions rather than highly.</p>
                    </div>

                    <div class="col-12 col-md-6">
                        <i class="fa fa-code text-primary fs-25 mb-3"></i>
                        <h6 class="text-uppercase mb-3">Clean</h6>
                        <p class="fs-14">Professionally foster cross-platform solutions rather than highly.</p>
                    </div>

                    <div class="col-12 col-md-6">
                        <i class="fa fa-file-text-o text-primary fs-25 mb-3"></i>
                        <h6 class="text-uppercase mb-3">Documented</h6>
                        <p class="fs-14">Professionally foster cross-platform solutions rather than highly.</p>
                    </div>

                </div>

            </div>

            <div class="col-lg-5 align-self-center">
                <img class="shadow-3" src="site/img/pricing-window.jpg" alt="..." data-aos="slide-left" data-aos-duration="1500">
            </div>

        </div>
    </div>
</section>

<!--
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    | Unlimited Layout Option
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    !-->
<section class="section py-150">
    <div class="container-wide">
        <div class="row gap-y align-items-center">

            <div class="col-lg-6 align-self-center">
                <img class="shadow-3" src="site/img/header-gradient.jpg" alt="..." data-aos="slide-right" data-aos-duration="1500">
            </div>

            <div class="col-12 col-lg-6 pl-50 pr-80">
                <h2>Unlimited Layout Option</h2>
                <p class="lead">Energistically transform pandemic manufactured products whereas premier solutions. Compellingly streamline an expanded array of web-readiness rather.</p>

                <br>

                <p>
                    <i class="ti-check text-success mr-8"></i>
                    <span class="fs-14">Proactively synergize unique models vis-a-vis superior</span>
                </p>

                <p>
                    <i class="ti-check text-success mr-8"></i>
                    <span class="fs-14">Conveniently actualize magnetic experiences before orthogonal</span>
                </p>

                <p>
                    <i class="ti-check text-success mr-8"></i>
                    <span class="fs-14">Compellingly streamline an expanded array of web</span>
                </p>

                <p>
                    <i class="ti-check text-success mr-8"></i>
                    <span class="fs-14">Rapidiously synergize standards compliant best practices.</span>
                </p>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div id="small_chat">
            <div class="layout layout-open layout-expand layout-right" style="background-color: #3F51B5;color: rgb(255, 255, 255);opacity: 5;border-radius: 10px;">
                <div class="messenger_messenger">
                    <div class="messenger_header" style="background-color: rgb(22, 46, 98); color: rgb(255, 255, 255);">
                        <h4 class="messenger_prompt">How can we help you?</h4>
                        <span class="chat_close_icon">
                           <i class="fa fa-window-close" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="messenger_content">
                        <div class="messages">
                            <div class="messages_list">
                                <div class="row contact-form-page">
                                    <div class="col-md-12">
                                        <form id="lcChatForm"  method="POST">
                                            <div class="form-group">
                                                <label for="name">Name</label>
                                                <input type="text" class="form-control" name="name" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="mobile">Mobile</label>
                                                <input type="text" class="form-control" id="mobile" name="mobile" required minlength="9" maxlength="20">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input type="email" class="form-control" id="email" name="email" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="message">Message</label>
                                                <textarea class="form-control" rows="3" name="message" required></textarea>
                                            </div>
                                            <button type="submit" id="lc-chat-register-button" class="submit-buttom">Send</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="chat_footer"></div>
                        
                    </div>
                </div>
            </div>
            <!--===============CHAT ON BUTTON STRART===============-->
            <div class="chat_on"> <span class="chat_on_icon"><i class="fa fa-comments" aria-hidden="true"></i></span>
            </div>
            <!--===============CHAT ON BUTTON END===============-->
        </div>
    </div>
</div>