<div class="menu">
    <ul class="list">
        <li class="header"><%= __('main_navigation'); %></li>
        <li class="active">
            <a href="/admin/dashboard">
                <i class="material-icons">home</i>
                <span><%= __('home'); %></span>
            </a>
        </li>
    </ul>
</div>